body {
	background-color: #b4d9ea;
}

.container {
	background-color: #fff;
	margin: 5% 30% 10% 30%;
	padding: 5%;
	text-align: center;
	min-height: 150px;
	border-radius: 50px;
	border: 2px solid #00008b;
}